<% include ./partials/header.ejs %>
<div class="header">
  <svg
    onclick="goBack()"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-chevron-left"
  >
    <path d="m15 18-6-6 6-6" />
  </svg>
  <h4>Help</h4>
</div>
<br />

<div class="container" id="help">
      <!-- <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
        }

        h3 {
          font-size: 18px;
          text-align: center;
          margin-bottom: 20px;
          color: orange;
        }

        p {
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 10px;
          color: rgb(0, 0, 0);
          padding-left: 24px;
          padding-right: 24px;
        }

        /* strong {
          font-weight: bold;
        } */

        a {
            color: rgb(0, 166, 255);
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        } -->
      </style>
    
      <div class="scroll-area">
        <div>
          <p>Frequently Asked Questions</p>
          <h5>1. How can I donate food?</h5>
          <h5>2. What types of food items do you accept?</h5>
          <h5>3. Can I donate money instead of food?</h5>
          <h5>4. How can I volunteer?</h5>
          <h5>5. Do you provide food assistance to individuals in need?</h5>
          
          <p>Contact Us:</p>
          <h5>Email: foodconnect@gmail.com<br />
              Phone: +91 9321167889
          </h5>

          <p>Terms Of Services</p>
          <h5>Read our <a href="/terms" style="color: rgb(0, 132, 255);">Terms and Conditions</a></h5>
          
        </div>
      </div>
</div>

<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>
