<% include ./partials/header.ejs %>
<div class="header">
  <svg
    onclick="goBack()"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-chevron-left"
  >
    <path d="m15 18-6-6 6-6" />
  </svg>
  <h4>Help</h4>
</div>
<br />

<div class="container" id="help">
  <div class="scroll-area">
    <div>
      <p>Frequently Asked Questions</p>
      <div class="faq-container1">
        <h5>1. How can I donate food?</h5>
        <div class="faq-ans1">You can drop off food at our locations or opt for a takeaway and our valet will do the pick up.</div>
      </div>

      <div class="faq-container2">
        <h5>2. What types of food items do you accept?</h5>
        <div class="faq-ans2">There is no exceptions for any food item put up for donation be it sweet or savoury. We accept food that is not stale, with no foul smelling, etc.</div>
      </div>

      <div class="faq-container3">
        <h5>3. Can I donate money instead of food?</h5>
        <div class="faq-ans3">Absolutely! Every bit helps us fight hunger. Your donation allows us to purchase fresh produce, dairy products, and other essential items to supplement the food we receive.</div>
      </div>

      <div class="faq-container4">
        <h5>4. How can I volunteer?</h5>
        <div class="faq-ans4">We rely on amazing volunteers like you! You can contact us through our contact number or mail id, and we'll do the rest.</div>
      </div>
      
      <div class="faq-container5">
        <h5>5. Do you provide food assistance to individuals in need?</h5>
        <div class="faq-ans5">As of now, we are focusing more on our orphanage, and yes, if there's any needy individual in our vicinity, we'll make sure that none of them remains hungry!</div>
      </div>
      <p>Contact Us:</p>
      <h5>
        Email: foodconnect@gmail.com<br />
        Phone: +91 1234567890
      </h5>

      <p>Terms Of Services</p>
      <h5>
        Read our
        <a href="/terms" style="color: rgb(0, 132, 255)"
          >Terms and Conditions</a
        >
      </h5>
    </div>
    <br><br><br><br>
  </div>
</div>

<script>
  for (let i = 1; i <= 5; i++) {
    const faq_ans = document.querySelector(`.faq-ans${i}`);
    const faq_header = document.querySelector(`.faq-container${i} h5`);
    let flag = 0;

    faq_ans.style.display = "none"; // Initially hide all answers

    faq_header.addEventListener("click", function () {
      if (flag === 0) {
        faq_ans.style.display = "block";
        flag = 1;
      } else {
        faq_ans.style.display = "none";
        flag = 0;
      }
    });
  }
</script>
<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>
