
<% include ./partials/header.ejs %>
<div class="header">
    <h4>Help</h4>
    <!-- <button id="backButton" onclick="goBack()">back</button> -->
</div>
<div class="container" id="help">
    help
</div>
    
    <!-- Footer -->
<% include ./partials/footer.ejs %>
