<% include ./partials/header.ejs %>
<div class="container">
    <form action="/login" method="post">
        <h1>Login</h1>
        <!-- <% if(err.length > 0 ) { %>
            <% } %> -->
            <p>Username</p>
            <input type="text" name="username" class="input-field" placeholder="Username" spellcheck="false" autocomplete="off">
            
            <p>Password</p>
            <input type="password" name="password" class="input-field" placeholder="Password">
            
        <h5 class="authentication-error" style=" color: crimson; text-align: center; margin-top: 10px;"><%= err %> </h5>
        <p><a href="/forget">Forget Password?</a></p>
        
        <button type="submit" class="submit-btn">Log in</button>
        <p style="font-size: 12px; font-weight: 400; text-align: center; margin-top: 20px;">Don't have an account? <a href="/signup" style=" font-weight: 800;">Sign Up</a></p>

    </form>
</div>
<% include ./partials/footer.ejs %>