<% include ./partials/header.ejs %>
<div class="header">
  <svg
    onclick="goBack()"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-chevron-left"
  >
    <path d="m15 18-6-6 6-6" />
  </svg>
  <h4>Terms and Conditions</h4>
  <br />
</div>

<div class="container">
  <div class="scroll-area">
    <div class="help-section">
      <p>1. Acceptance of Terms</p>
      <ul>
        <li>
          Accessing or using this website, you agree to be bound by these terms
          and conditions. If you do not agree with any part of these terms, you
          may not use our website.
        </li>
      </ul>
    </div>

    <div class="help-section">
      <p>2. Donation Guidelines</p>
      <ul>
        <li>
          All food donations must be prepared according to the dietary
          guidelines of the ashram.<br />
        </li>
        <li>
          Donors are responsible for ensuring the quality and hygiene of the
          donated food.<br />
        </li>
        <li>
          The ashram reserves the right to refuse any donation that does not
          meet its guidelines or standards.<br />
        </li>
        <li>
          Donors will be notified promptly if their donation is declined, along
          with any reasons for the decision.<br />
        </li>
        <li>
          Items should be fresh and free from any spoilage or contamination.
        </li>
      </ul>
    </div>

    <div class="help-section">
      <p>3. Donation Process</p>
      <ul>
        <li>
          Donors must provide accurate information about the type and quantity
          of food they wish to donate.<br />
        </li>
        <li>
          Donations must be scheduled in advance through the website or by
          contacting the ashram directly.<br />
        </li>
        <li>
          The ashram will provide instructions for delivery or drop-off of
          donations.
        </li>
      </ul>
    </div>

    <div class="help-section">
      <p>4. Liability</p>
      <ul>
        <li>
          Donors are solely responsible for the food they donate, including any
          health or safety risks associated with it.<br />
        </li>
        <li>
          The ashram shall not be liable for any damages, losses, or injuries
          arising from donated food.
        </li>
      </ul>
    </div>

    <div class="help-section">
      <p>5. Privacy Policy</p>
      <ul>
        <li>
          We collect personal information like name, email, and phone number
          when you donate food. We also gather data about your donations and how
          you use our website.<br />
        </li>
        <li>
          We use your information to manage donations, communicate with you, and
          improve our website.<br />
        </li>
        <li>
          Donors' personal information collected through the website will be
          used only for donation purposes and will not be shared with third
          parties.<br />
        </li>
      </ul>
    </div>

    <div class="help-section">
      <p>6. Intellectual Property</p>
      <ul>
        <li>
          All content on the website, including text, graphics, logos, and
          images, is the property of the ashram and protected by copyright
          laws.<br />
        </li>
        <li>
          Donors may not use, reproduce, or distribute any content from the
          website without prior written permission from the ashram.
        </li>
      </ul>
    </div>

    <div class="help-section">
      <p>7. Quantity Limitations</p>
      <ul>
        <li>
          Donors are encouraged to donate food in quantities suitable for the
          ashram's needs and capacity.<br />
        </li>
        <li>
          Large-scale donations should be coordinated with the ashram in advance
          to ensure proper handling and distribution.
        </li>
      </ul>
    </div>

    <div class="help-section">
      <p>8. Modification of Terms</p>
      <ul>
        <li>
          The ashram reserves the right to modify these terms and conditions at
          any time without prior notice.<br />
        </li>
        <li>
          Continued use of the website after such modifications constitutes
          acceptance of the updated terms.
        </li>
      </ul>
    </div>

    <div class="help-section">
      <p>9. Communication and Feedbacks</p>
      <ul>
        <li>
          Donors are encouraged to communicate any special instructions, dietary
          preferences, or concerns regarding their donations to the ashram.<br />
        </li>
        <li>
          The ashram welcomes feedback from donors to improve its food donation
          process and services.<br />
        </li>
      </ul>

      <br />
    </div>

    <div class="help-section">
      <h5>
        By using our website, you acknowledge that you have read, understood,
        and agreed to these terms and conditions. Thank you for your support and
        generosity in donating food to Ashraya Balgruh.
      </h5>
    </div>
    <br><br><br>
  </div>
</div>

<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>
