<% include ./partials/header.ejs %>

<div class="header">
    <h4>Upload edited by sarah</h4>
</div>

<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>
