@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins:wght@100;300;500&display=swap');

:root{
  --white: #ffffff;
  --orange: #ff9f1c;
  --orange-light : #ffbf68;
  --red: #d80033;
  --red-light : #ef233c;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'poppins';
  font-weight: 500;
}
